<div class="main_hd">
	<h2>店铺管理</h2>
</div>

<div class="highlight_box" style="height:180px;">
	<div class="opr">
		<a class="btn btn_warn" ng-if="ctrl.living" ng-click="ctrl.close(ctrl.shop.id)">关闭互动</a>

		<a class="btn btn_primary" ng-if="!ctrl.living" ng-click="ctrl.startManually(ctrl.shop.id)">手动开启</a>
		<div style="padding: 5px;text-align: center;" ng-if="!ctrl.living">
			<qrcode version="6" error-correction-level="M" size="96" data="{{ctrl.startUrl}}"></qrcode>
			<br>扫码开启直播
		</div>
	</div>
	<h4 class="title">直播状态</h4>
	<p class="desc" ng-if="ctrl.living">正在直播中</p>
	<p class="desc" ng-if="!ctrl.living">空闲中</p>

	<h4 class="title" ng-if="ctrl.living">Token&nbsp;:&nbsp;{{ctrl.shop.token}} </h4>
</div>

<div class="frm_control_group gray_desc_item" ng-if="ctrl.living">
	<h3>互动信息</h3>
	<div class="table_wrp">
		<table class="table">
			<thead class="thead">
				<tr>
					<th class="table_cell">创建时间</th>
					<th class="table_cell">互动ID</th>
					<td class="table_cell" align="right">操作</td>
				</tr>
			</thead>
			<tbody class="tbody">
				<tr>
					<td class="table_cell time">{{ctrl.interaction.created}}</td>
					<td class="table_cell time">{{ctrl.interaction.id}}</td>
					<td class="table_cell" align="right">
						<a ui-sref="app.shops.socket({id: ctrl.interaction.id})">测试Socket</a>&nbsp;&nbsp;
						<a href="#">查看用户列表</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>