<div class="col-md-8">
  <form name="form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      </div>
      <div class="panel-body">
        <formly-form model="ctrl.shop" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
      </div>

      <div class="panel-footer">
        <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
          提交
        </button>
        <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">重置</button>
      </div>

    </div>
  </form>
</div>
