<div class="col-md-8">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">店铺管理</h3>
    </div>
    <div class="box-body table-responsive">
      <a ui-sref="app.shop.add" class="btn btn-success btn-block">
        添加店铺<i class="fa fa-plus"></i>
      </a>

      <table class="table">
        <tbody>
          <tr>
            <th>店铺</th>
            <th></th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="shop in ctrl.shops">
            <td><a ui-sref="app.shop.edit({ id: shop.id })">{{shop.name}}</a></td>
            <td>
              <table class="table table-bordered">
                <tr>
                  <th>RTMP地址</th>
                  <td>{{shop.rtmp_url}}</td>
                </tr>
                <tr>
                  <th>HLS地址</th>
                  <td>{{shop.hls_url}}</td>
                </tr>
                <tr>
                  <th>FLV地址</th>
                  <td>{{shop.flv_url}}</td>
                </tr>                
              </table>

            </td>
            <td>
              <a ui-sref="app.shop.edit({ id: shop.id })" class="btn btn-primary">编辑</a>
              <a ng-click="ctrl.deleteShop({ id: shop.id })" class="btn btn-danger">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
